<div class="container">
  <nav class="navbar navbar-expand navbar-dark rounded" style="background-color:#161B22;">
    <div class="container-fluid">
      <a class="navbar-brand mx-1" href="#">
        <img src="favicon.ico" alt="Brand-Logo" width="32" height="32"
          class="d-inline-block align-center border bg-light">
        <!-- <span class="ms-2">Proptimise</span> -->
      </a>
      <ul class="navbar-nav mx-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="user">User</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" routerLinkActive="active" routerLink="admin">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <app-edit-app></app-edit-app>
  </div>
</div>